<button class="btn btn-primary">Click here 123!</button>
<div class="container">
  <div class="row">
    <div class="col-6">
      <h4>Student Portal</h4>
    </div>
    <div class="col-6 text-end">
      <!-- Button trigger modal -->
      <button class="btn btn-outline-success" (click)="openModal()">Add New</button>
    </div>
  </div>

  @if (studentList.length !== 0){
  <div class="row">
    @for (item of studentList; track $index){
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6">
                {{item.name}}
              </div>
              <div class="col-6 text-end">
                {{item.mobileNo}}
              </div>
            </div>
          </div>
          <div class="card-body">
  
            <p>{{item.city}}</p>
  
            <p>{{item.state}}</p>
  
            <p>{{item.pincode}}</p>
  
            <p>{{item.address}}</p>
  
          </div>
          <div class="card-footer text-center">
            <div class="row">
              <div class="col-8">
                <p>{{item.email}}</p>
              </div>
              <div class="col-4">
                <button class="btn btn-sm btn-primary mb-2"  (click)="onEdit(item)">Edit</button> &nbsp;&nbsp;
                <button class="btn btn-sm btn-warning"  (click)="onDelete(item)">Delete</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    }
   
  </div>
}
@else {
  <div class="row">
    <div class="col-10 p-4 text-center">
      <p>No Records found.</p>
    </div>
  </div>
}
</div>


<!-- Modal -->
<!-- Button to Open the Modal -->

<!-- The Modal -->
<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add New Student</h4>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <label for="">Name</label>
            <input type="text" [(ngModel)]="studentObj.name" class="form-control" placeholder="Name" />
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <label for="">Mobile</label>
            <input type="text" [(ngModel)]="studentObj.mobileNo" class="form-control" placeholder="Mobile" />
          </div>

          <div class="col-6">
            <label for="">Email</label>
            <input type="email" [(ngModel)]="studentObj.email" class="form-control" placeholder="Email" />
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <label for="">City</label>
            <input type="text" [(ngModel)]="studentObj.city" class="form-control" placeholder="City" />
          </div>
          <div class="col-4">
            <label for="">State</label>
            <input type="text" [(ngModel)]="studentObj.state" class="form-control" placeholder="State" />
          </div>
          <div class="col-4">
            <label for="">Pincode</label>
            <input type="text" [(ngModel)]="studentObj.pincode" class="form-control" placeholder="Pincode" />
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <label for="">Address</label>
            <textarea rows="3" [(ngModel)]="studentObj.address" class="form-control"></textarea>
          </div>
        </div>

      </div>


      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal()">Close</button>

        @if (studentObj.id == 0){
          <button type="button" class="btn btn-success" (click)="saveStudent()">Save</button>
        }
        @else{
          <button type="button" class="btn btn-primary" (click)="updateStudent()">Update</button>
        }
       
      </div>

    </div>
  </div>
</div>